/* =====================================================
   Home Page Styles
   ===================================================== */

@use "../abstracts/variables";

.site-main {
    padding: variables.$spacing-lg 0;
}

.content {
    margin-top: variables.$spacing-lg;
}

.hero+.products {
    margin-top: variables.$spacing-xl;
} 