/* =====================================================
   Container
   ===================================================== */

@use "../abstracts/mixins";
@use "../abstracts/variables";

.container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: variables.$spacing-sm;

    @include mixins.respond-medium {
        padding-inline: variables.$spacing-md;
    }

    @include mixins.respond-large {
        padding-inline: variables.$spacing-lg;
    }
}