@use "../abstracts/variables";
@use "../abstracts/mixins";

/* =====================================================
   Header
   ===================================================== */

.hero {
    padding-top: 30px;
    text-align: center;
    @include mixins.respond-medium {
        padding-top: 40px;
    }
    
}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
} 