/* =====================================================
   Card Component
===================================================== */

@use "../abstracts/variables";
@use "../abstracts/mixins";

/* Products wrapper */
.products {
    padding-bottom: variables.$spacing-xl;

    /* Tilt images (decorative icons) */
    .tilt_img_bg {
        text-align: center;

        img {
            max-width: 50px;
            margin: auto;
        }
    }

    .tilt_img_bg2 {
        text-align: center;

        img {
            max-width: 30px;
            margin: auto;
        }
    }

    /* Card actions */
    .product-card__actions {
        .btn {
            margin-right: variables.$spacing-xs;
        }
    }

    /* Grid layout */
    .products__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: variables.$spacing-sm;

        @include mixins.respond-medium {
            grid-template-columns: repeat(2, 1fr);
            gap: variables.$spacing-md;
        }
    }

    /* Base card */
    .product-card {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding-top: variables.$spacing-lg;
        border-radius: variables.$radius-lg;

        text-align: center;
        background-color: variables.$bg-white;
        color: variables.$color-black;

        /* Smooth interaction */
        transition:
            background-color 0.3s ease,
            box-shadow 0.3s ease,
            transform 0.3s ease;

        &:hover {
            background-color: variables.$bg-dark;
            color: variables.$color-white;
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
            transform: translateY(-4px);
            .product-card__price {
                color: variables.$color-white;
            }
        }

        .chevron_rt{
            padding-left:2px;
            font-size: 12px;
        }
        /* Eyebrow */
        .product-card__eyebrow {
            font-size: variables.$font-size-sm;
            font-weight: 500;
            margin-bottom: variables.$spacing-sm;
        }

        /* Title */
        .product-card__title {
            font-size: variables.$font-size-xl;
            font-weight: 600;
            letter-spacing: -0.01em;

            margin-top: variables.$spacing-xs;
            margin-bottom: variables.$spacing-sm;
        }

        /* Price */
        .product-card__price {
            font-size: variables.$font-size-sm;
            margin-bottom: variables.$spacing-md;
            color: variables.$color-desciptions;
        }

        /* Media */
        .product-card__media {
            margin-top: auto;
            padding-top: variables.$spacing-md;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}