/* =====================================================
   Hero Component
   ===================================================== */

@use "../abstracts/variables";
@use "../abstracts/mixins";

.hero__media {
    max-width: 800px;
    margin-inline: auto;
    margin-bottom: variables.$spacing-lg;

    img {
        width: 100%;
        height: auto;
    }
}

.hero__title { 
    max-width: 520px;
    margin-inline: auto;
    margin-bottom: variables.$spacing-md;
    font-size: variables.$font-size-xl;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: variables.$color-black;
    @include mixins.respond-medium {
        font-size: variables.$font-size-xxl;
    }

    @include mixins.respond-large {
    font-size: variables.$font-size-xxxl;
    }
}

.hero__description {
    max-width: 100%;
    margin-inline: auto;
    font-size: variables.$font-size-base;
    line-height: variables.$line-height-relaxed; 
    color: variables.$color-desciptions;
    font-weight: 600;

    @include mixins.respond-medium {
        max-width: 700px;
    }

    @include mixins.respond-large {
        max-width: 760px;
    }
}