/* =====================================================
   SF Pro Display – Font Faces
   ===================================================== */
@use "../abstracts/variables";

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/fonts/sf-pro-display-regular.otf") format("opentype");
    font-weight: variables.$fw-600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/fonts/sf-pro-display-medium.otf") format("opentype");
    font-weight: variables.$fw-500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/fonts/sf-pro-display-bold.otf") format("opentype");
    font-weight: variables.$fw-700;
    font-style: normal;
    font-display: swap;
}

/* Italics */
@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/fonts/sf-pro-display-black-italic.otf") format("opentype");
    font-weight: variables.$fw-900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/fonts/sf-pro-display-light-italic.otf") format("opentype");
    font-weight: variables.$fw-300;
    font-style: italic;
    font-display: swap;
}