/* =====================================================
   Global Styles
   ===================================================== */
@use "../abstracts/variables";

body {
background-color: variables.$bg-body;
font-family: variables.$font-primary;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}