/* =====================================================
   Global Styles
   ===================================================== */

body {
    background-color: $bg-body;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}