/* =====================================================
   Typography
   ===================================================== */

@use "../abstracts/variables";

body {
    font-family: variables.$font-primary;
    font-size: 17px;
    line-height: 1.47;
    color: variables.$color-black;
}

