/* =====================================================
   Typography
   ===================================================== */

body {
    font-family: $font-primary;
    color: $color-text;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-weight: 600;
}

p {
    color: $color-muted;
}