/* =====================================================
   Media Query Mixins
   ===================================================== */

@use "breakpoints";

@mixin respond-medium {
    @media (min-width: breakpoints.$bp-medium) {
        @content;
    }
}

@mixin respond-large {
    @media (min-width: breakpoints.$bp-large) {
        @content;
    }
}