/* =====================================================
   Variables
   ===================================================== */

/* ---------- Colors ---------- */

/* Page backgrounds */
$bg-body: #f5f5f7; 
$bg-dark: #000; 
$bg-white: #ffffff; 


/* Text colors */
$color-black: #000; 
$color-white: #fff; 
$color-link: #004cc9; 

/* Button colors */
$btn-primary:#0171e2;


/* ---------- Typography ---------- */
$font-primary: "SF Pro Display", -apple-system,
   BlinkMacSystemFont, "Segoe UI",
   Roboto, Helvetica, Arial, sans-serif;


/* ---------- Border radius ---------- */
$radius-lg: 16px;
$radius-md: 8px;
$radius-sm: 6px;
$radius-pill: 999px; // Buttons


/* ---------- Spacing scale ---------- */
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 48px;
$spacing-xl: 96px;