/* =====================================================
   Variables
   ===================================================== */

$bg-body:#f5f5f7;
$color-bg: #131316;
$color-surface: #212126;
$color-text: #ffffff;
$color-muted: #9d9d9d;

$font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif;

$radius-sm: 8px;
$radius-lg: 16px;

$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 48px;