/* =====================================================
   Variables
 ===================================================== */

/* ---------- Colors ---------- */
/* Page backgrounds */
$bg-body: #f5f5f7; 
$bg-dark: #000; 
$bg-white: #ffffff; 


/* Text colors */
$color-black: #000; 
$color-white: #fff; 
$color-desciptions:#949499;
$color-link: #004cc9; 


/* ---------- Typography ---------- */
$font-primary: "SF Pro Display", -apple-system,
   BlinkMacSystemFont, "Segoe UI",
   Roboto, Helvetica, Arial, sans-serif;

/* Font sizes */
$font-size-xs: 12px; 
$font-size-sm: 14px; 
$font-size-base: 16px; 
$font-size-base-medium: 18px;
$font-size-md: 20px; 
$font-size-lg: 24px; 
$font-size-xl: 28px; 
$font-size-xxl: 40px; 
$font-size-xxxl: 48px; 


/* ---------- Line heights ---------- */
$line-height-tight: 1.2;
$line-height-base: 1.47; 
$line-height-relaxed: 1.6;

/* ---------- Border radius ---------- */
$radius-lg: 16px;
$radius-md: 8px;
$radius-sm: 6px;
$radius-pill: 50px; // Buttons


/* ---------- Spacing scale ---------- */
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 48px;
$spacing-xl: 96px;


/* Font Weights */
$fw-300: 300; // Light
$fw-400: 400; // Regular
$fw-500: 500; // Medium
$fw-600: 600; // Semi-bold
$fw-700: 700; // Bold
$fw-900: 900; // Black